--
-- PostgreSQL database dump
--

\restrict cfnATAFnDlCD2XKWeA6OkgcvtXbijbXSqZmb93n6hIQodHFSAqgQmE0mvFoSAf8

-- Dumped from database version 17.11 (Debian 17.11-1.pgdg13+2)
-- Dumped by pg_dump version 17.11 (Debian 17.11-1.pgdg13+2)

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET transaction_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: pgcrypto; Type: EXTENSION; Schema: -; Owner: -
--

CREATE EXTENSION IF NOT EXISTS pgcrypto WITH SCHEMA public;


--
-- Name: EXTENSION pgcrypto; Type: COMMENT; Schema: -; Owner: 
--

COMMENT ON EXTENSION pgcrypto IS 'cryptographic functions';


--
-- Name: confidence_status; Type: TYPE; Schema: public; Owner: ucon
--

CREATE TYPE public.confidence_status AS ENUM (
    'HIGH',
    'MEDIUM',
    'LOW',
    'MANUAL'
);


ALTER TYPE public.confidence_status OWNER TO ucon;

--
-- Name: document_type; Type: TYPE; Schema: public; Owner: ucon
--

CREATE TYPE public.document_type AS ENUM (
    'INVOICE',
    'DC',
    'PO',
    'QUOTATION',
    'MACHINE_INVOICE',
    'TOOL_INVOICE',
    'EXPENSE',
    'CAPEX',
    'MTC',
    'TEST_REPORT',
    'OTHER'
);


ALTER TYPE public.document_type OWNER TO ucon;

--
-- Name: expense_class; Type: TYPE; Schema: public; Owner: ucon
--

CREATE TYPE public.expense_class AS ENUM (
    'DIRECT_PRODUCTION',
    'PRODUCTION_SUPPORT',
    'ADMIN_GENERAL',
    'CAPEX'
);


ALTER TYPE public.expense_class OWNER TO ucon;

--
-- Name: movement_type; Type: TYPE; Schema: public; Owner: ucon
--

CREATE TYPE public.movement_type AS ENUM (
    'RECEIPT',
    'ISSUE',
    'TRANSFER',
    'PRODUCTION_IN',
    'PRODUCTION_OUT',
    'REJECTION',
    'ADJUSTMENT',
    'DISPATCH'
);


ALTER TYPE public.movement_type OWNER TO ucon;

--
-- Name: record_status; Type: TYPE; Schema: public; Owner: ucon
--

CREATE TYPE public.record_status AS ENUM (
    'DRAFT',
    'PENDING_REVIEW',
    'VERIFIED',
    'REJECTED',
    'CANCELLED'
);


ALTER TYPE public.record_status OWNER TO ucon;

--
-- Name: source_kind; Type: TYPE; Schema: public; Owner: ucon
--

CREATE TYPE public.source_kind AS ENUM (
    'SCANNED_PDF',
    'IMAGE',
    'SPREADSHEET',
    'DIGITAL_PDF',
    'MANUAL_ENTRY'
);


ALTER TYPE public.source_kind OWNER TO ucon;

--
-- Name: user_role; Type: TYPE; Schema: public; Owner: ucon
--

CREATE TYPE public.user_role AS ENUM (
    'MD',
    'DIRECTOR',
    'PURCHASE_MANAGER',
    'PRODUCTION_STAFF',
    'DOCUMENT_ADMIN',
    'Super Admin'
);


ALTER TYPE public.user_role OWNER TO ucon;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: audit_log; Type: TABLE; Schema: public; Owner: ucon
--

CREATE TABLE public.audit_log (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    entity_type text NOT NULL,
    entity_id uuid NOT NULL,
    action text NOT NULL,
    old_value jsonb,
    new_value jsonb,
    changed_by uuid,
    changed_at timestamp with time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.audit_log OWNER TO ucon;

--
-- Name: auth_sessions; Type: TABLE; Schema: public; Owner: ucon
--

CREATE TABLE public.auth_sessions (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    user_id uuid NOT NULL,
    token_hash text NOT NULL,
    expires_at timestamp with time zone NOT NULL,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    last_seen_at timestamp with time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.auth_sessions OWNER TO ucon;

--
-- Name: capex; Type: TABLE; Schema: public; Owner: ucon
--

CREATE TABLE public.capex (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    asset_type text NOT NULL,
    asset_name text NOT NULL,
    purchase_date date,
    vendor_id uuid,
    amount numeric(18,2) NOT NULL,
    useful_life_years numeric(8,2),
    document_id uuid,
    notes text,
    machine_id uuid
);


ALTER TABLE public.capex OWNER TO ucon;

--
-- Name: cost_rules; Type: TABLE; Schema: public; Owner: ucon
--

CREATE TABLE public.cost_rules (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    process_stage_id uuid NOT NULL,
    rule_name text NOT NULL,
    rule_definition jsonb NOT NULL,
    effective_from date NOT NULL,
    effective_to date,
    active boolean DEFAULT true NOT NULL
);


ALTER TABLE public.cost_rules OWNER TO ucon;

--
-- Name: customers; Type: TABLE; Schema: public; Owner: ucon
--

CREATE TABLE public.customers (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    customer_code text NOT NULL,
    customer_name text NOT NULL,
    gstin text,
    contact_name text,
    phone text,
    email text,
    address text,
    active boolean DEFAULT true NOT NULL
);


ALTER TABLE public.customers OWNER TO ucon;

--
-- Name: daily_production; Type: TABLE; Schema: public; Owner: ucon
--

CREATE TABLE public.daily_production (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    production_date date NOT NULL,
    batch_id uuid,
    process_stage_id uuid NOT NULL,
    machine_id uuid,
    vendor_id uuid,
    qty_in numeric(18,3) DEFAULT 0 NOT NULL,
    qty_out numeric(18,3) DEFAULT 0 NOT NULL,
    qty_rejected numeric(18,3) DEFAULT 0 NOT NULL,
    rejection_reason text,
    operator_name text,
    notes text,
    entered_by uuid,
    created_at timestamp with time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.daily_production OWNER TO ucon;

--
-- Name: delivery_challans; Type: TABLE; Schema: public; Owner: ucon
--

CREATE TABLE public.delivery_challans (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    dc_number text NOT NULL,
    dc_date date NOT NULL,
    vendor_id uuid,
    from_location text,
    to_location text,
    vehicle_no text,
    purpose text,
    document_id uuid,
    status public.record_status DEFAULT 'PENDING_REVIEW'::public.record_status NOT NULL,
    customer_id uuid,
    dispatch_status text DEFAULT 'DRAFT'::text NOT NULL
);


ALTER TABLE public.delivery_challans OWNER TO ucon;

--
-- Name: dispatch_items; Type: TABLE; Schema: public; Owner: ucon
--

CREATE TABLE public.dispatch_items (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    dc_id uuid NOT NULL,
    item_code text NOT NULL,
    description text NOT NULL,
    quantity numeric(18,3) NOT NULL,
    unit text DEFAULT 'Nos'::text NOT NULL,
    batch_id uuid
);


ALTER TABLE public.dispatch_items OWNER TO ucon;

--
-- Name: document_classification_catalog; Type: TABLE; Schema: public; Owner: ucon
--

CREATE TABLE public.document_classification_catalog (
    code text NOT NULL,
    label text NOT NULL,
    destination_module text NOT NULL,
    destination_record_type text NOT NULL,
    process_stage_code text,
    description text NOT NULL,
    active boolean DEFAULT true NOT NULL
);


ALTER TABLE public.document_classification_catalog OWNER TO ucon;

--
-- Name: document_extraction_history; Type: TABLE; Schema: public; Owner: ucon
--

CREATE TABLE public.document_extraction_history (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    document_id uuid NOT NULL,
    extraction_id uuid,
    field_name text NOT NULL,
    old_value text,
    new_value text,
    change_type text NOT NULL,
    changed_by uuid,
    changed_at timestamp with time zone DEFAULT now() NOT NULL,
    reason text,
    CONSTRAINT document_extraction_history_change_type_check CHECK ((change_type = ANY (ARRAY['AI_EXTRACTION'::text, 'HUMAN_CORRECTION'::text, 'VERIFICATION'::text, 'REPROCESS'::text])))
);


ALTER TABLE public.document_extraction_history OWNER TO ucon;

--
-- Name: document_extractions; Type: TABLE; Schema: public; Owner: ucon
--

CREATE TABLE public.document_extractions (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    document_id uuid NOT NULL,
    page_no integer,
    field_name text NOT NULL,
    extracted_value text,
    normalized_value text,
    confidence numeric(5,4),
    confidence_status public.confidence_status DEFAULT 'LOW'::public.confidence_status NOT NULL,
    reviewed_value text,
    reviewed_by uuid,
    reviewed_at timestamp with time zone
);


ALTER TABLE public.document_extractions OWNER TO ucon;

--
-- Name: document_import_batches; Type: TABLE; Schema: public; Owner: ucon
--

CREATE TABLE public.document_import_batches (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    batch_code text NOT NULL,
    source_name text NOT NULL,
    period_start date,
    period_end date,
    total_documents integer DEFAULT 0 NOT NULL,
    processed_documents integer DEFAULT 0 NOT NULL,
    verified_documents integer DEFAULT 0 NOT NULL,
    rejected_documents integer DEFAULT 0 NOT NULL,
    status text DEFAULT 'RECEIVED'::text NOT NULL,
    created_by uuid,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    updated_at timestamp with time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.document_import_batches OWNER TO ucon;

--
-- Name: document_line_items; Type: TABLE; Schema: public; Owner: ucon
--

CREATE TABLE public.document_line_items (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    document_id uuid NOT NULL,
    line_no integer NOT NULL,
    description text,
    quantity numeric(18,3),
    unit text,
    unit_rate numeric(18,4),
    taxable_amount numeric(18,2),
    tax_amount numeric(18,2),
    total_amount numeric(18,2),
    category_code text,
    process_stage_code text,
    destination_module text,
    destination_record_type text,
    confidence numeric(5,4),
    confidence_status public.confidence_status DEFAULT 'LOW'::public.confidence_status NOT NULL,
    reviewed_description text,
    reviewed_quantity numeric(18,3),
    reviewed_unit text,
    reviewed_unit_rate numeric(18,4),
    reviewed_total_amount numeric(18,2),
    reviewed_category_code text,
    reviewed_destination_module text,
    reviewed_by uuid,
    reviewed_at timestamp with time zone,
    part_number character varying(100),
    model_number character varying(100),
    hsn_code character varying(50),
    discount numeric(15,2) DEFAULT 0,
    cgst_amount numeric(15,2) DEFAULT 0,
    sgst_amount numeric(15,2) DEFAULT 0,
    igst_amount numeric(15,2) DEFAULT 0,
    tax_rate numeric(6,2) DEFAULT 0,
    sub_category character varying(100),
    process_code character varying(50),
    capex_or_opex character varying(10) DEFAULT 'OPEX'::character varying,
    costing_head character varying(100),
    review_status character varying(50) DEFAULT 'PENDING'::character varying,
    reviewed_part_number character varying(100),
    reviewed_hsn_code character varying(50),
    reviewed_discount numeric(15,2),
    reviewed_tax_rate numeric(6,2),
    reviewed_taxable_amount numeric(15,2),
    reviewed_cgst_amount numeric(15,2),
    reviewed_sgst_amount numeric(15,2),
    reviewed_igst_amount numeric(15,2),
    reviewed_tax_amount numeric(15,2),
    reviewed_capex_or_opex character varying(10),
    reviewed_sub_category character varying(100),
    reviewed_costing_head character varying(100),
    source_page_number integer DEFAULT 1
);


ALTER TABLE public.document_line_items OWNER TO ucon;

--
-- Name: document_pages; Type: TABLE; Schema: public; Owner: ucon
--

CREATE TABLE public.document_pages (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    document_id uuid NOT NULL,
    page_no integer NOT NULL,
    image_uri text,
    ocr_text text
);


ALTER TABLE public.document_pages OWNER TO ucon;

--
-- Name: document_processing_events; Type: TABLE; Schema: public; Owner: ucon
--

CREATE TABLE public.document_processing_events (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    document_id uuid NOT NULL,
    event_type text NOT NULL,
    provider text,
    status text NOT NULL,
    message text,
    created_by uuid,
    created_at timestamp with time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.document_processing_events OWNER TO ucon;

--
-- Name: documents; Type: TABLE; Schema: public; Owner: ucon
--

CREATE TABLE public.documents (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    document_number text,
    document_type public.document_type NOT NULL,
    source_kind public.source_kind NOT NULL,
    original_filename text NOT NULL,
    storage_uri text NOT NULL,
    document_date date,
    vendor_id uuid,
    page_count integer,
    file_sha256 text,
    status public.record_status DEFAULT 'PENDING_REVIEW'::public.record_status NOT NULL,
    created_by uuid,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    source_path text,
    source_folder text,
    ingestion_batch text,
    mime_type text,
    file_size_bytes bigint,
    classification_code text,
    destination_module text,
    destination_record_type text,
    ai_confidence numeric(5,4),
    verified_by uuid,
    verified_at timestamp with time zone,
    rejection_reason text,
    immutable_original boolean DEFAULT true NOT NULL
);


ALTER TABLE public.documents OWNER TO ucon;

--
-- Name: inventory_items; Type: TABLE; Schema: public; Owner: ucon
--

CREATE TABLE public.inventory_items (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    item_code text NOT NULL,
    item_name text NOT NULL,
    item_type text NOT NULL,
    material_id uuid,
    unit text NOT NULL,
    reorder_level numeric(18,3),
    active boolean DEFAULT true NOT NULL
);


ALTER TABLE public.inventory_items OWNER TO ucon;

--
-- Name: inventory_movements; Type: TABLE; Schema: public; Owner: ucon
--

CREATE TABLE public.inventory_movements (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    item_id uuid NOT NULL,
    movement_date timestamp with time zone DEFAULT now() NOT NULL,
    movement_type public.movement_type NOT NULL,
    quantity numeric(18,3) NOT NULL,
    unit_cost numeric(18,6),
    batch_id uuid,
    reference_document_id uuid,
    entered_by uuid
);


ALTER TABLE public.inventory_movements OWNER TO ucon;

--
-- Name: invoice_items; Type: TABLE; Schema: public; Owner: ucon
--

CREATE TABLE public.invoice_items (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    invoice_id uuid NOT NULL,
    description text NOT NULL,
    quantity numeric(18,6),
    unit text,
    unit_rate numeric(18,6),
    line_total numeric(18,2),
    process_stage_id uuid,
    expense_class public.expense_class,
    part_number character varying(100),
    hsn_code character varying(50),
    tax_rate numeric(6,2) DEFAULT 0,
    taxable_amount numeric(15,2),
    tax_amount numeric(15,2) DEFAULT 0,
    cgst_amount numeric(15,2) DEFAULT 0,
    sgst_amount numeric(15,2) DEFAULT 0,
    igst_amount numeric(15,2) DEFAULT 0,
    capex_or_opex character varying(10) DEFAULT 'OPEX'::character varying,
    costing_head character varying(100)
);


ALTER TABLE public.invoice_items OWNER TO ucon;

--
-- Name: invoices; Type: TABLE; Schema: public; Owner: ucon
--

CREATE TABLE public.invoices (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    invoice_number text NOT NULL,
    vendor_id uuid,
    purchase_order_id uuid,
    invoice_date date NOT NULL,
    subtotal numeric(18,2),
    gst_amount numeric(18,2),
    freight numeric(18,2),
    total_amount numeric(18,2) NOT NULL,
    due_date date,
    payment_status text DEFAULT 'UNPAID'::text NOT NULL,
    document_id uuid,
    status public.record_status DEFAULT 'PENDING_REVIEW'::public.record_status NOT NULL,
    cgst numeric(15,2) DEFAULT 0,
    sgst numeric(15,2) DEFAULT 0,
    igst numeric(15,2) DEFAULT 0,
    round_off numeric(10,2) DEFAULT 0,
    vehicle_number character varying(50),
    transporter_name character varying(150),
    lr_number character varying(50),
    reverse_charge character varying(10) DEFAULT 'NO'::character varying,
    amount_in_words text
);


ALTER TABLE public.invoices OWNER TO ucon;

--
-- Name: machine_breakdowns; Type: TABLE; Schema: public; Owner: ucon
--

CREATE TABLE public.machine_breakdowns (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    machine_id uuid NOT NULL,
    started_at timestamp with time zone NOT NULL,
    ended_at timestamp with time zone,
    reason text NOT NULL,
    action_taken text,
    cost numeric(18,2) DEFAULT 0,
    status text DEFAULT 'OPEN'::text NOT NULL,
    created_by uuid
);


ALTER TABLE public.machine_breakdowns OWNER TO ucon;

--
-- Name: machine_utilization; Type: TABLE; Schema: public; Owner: ucon
--

CREATE TABLE public.machine_utilization (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    machine_id uuid NOT NULL,
    utilization_date date NOT NULL,
    planned_hours numeric(10,2) DEFAULT 0,
    run_hours numeric(10,2) DEFAULT 0,
    downtime_hours numeric(10,2) DEFAULT 0,
    pieces_produced numeric(18,3) DEFAULT 0,
    notes text,
    entered_by uuid
);


ALTER TABLE public.machine_utilization OWNER TO ucon;

--
-- Name: machines; Type: TABLE; Schema: public; Owner: ucon
--

CREATE TABLE public.machines (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    machine_code text NOT NULL,
    machine_name text NOT NULL,
    machine_type text NOT NULL,
    manufacturer text,
    model text,
    serial_number text,
    purchase_date date,
    purchase_cost numeric(18,2),
    vendor_id uuid,
    installation_date date,
    capacity_per_month numeric(18,2),
    power_kw numeric(12,3),
    status text DEFAULT 'ACTIVE'::text NOT NULL,
    notes text
);


ALTER TABLE public.machines OWNER TO ucon;

--
-- Name: maintenance_records; Type: TABLE; Schema: public; Owner: ucon
--

CREATE TABLE public.maintenance_records (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    machine_id uuid NOT NULL,
    maintenance_date date NOT NULL,
    maintenance_type text NOT NULL,
    description text,
    vendor_id uuid,
    amount numeric(18,2) DEFAULT 0,
    next_due_date date,
    status text DEFAULT 'COMPLETED'::text NOT NULL,
    document_id uuid,
    created_by uuid
);


ALTER TABLE public.maintenance_records OWNER TO ucon;

--
-- Name: materials; Type: TABLE; Schema: public; Owner: ucon
--

CREATE TABLE public.materials (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    material_code text NOT NULL,
    material_name text NOT NULL,
    grade text,
    diameter_mm numeric(12,3),
    standard_length_mm numeric(12,3),
    density_kg_m3 numeric(18,6),
    unit text DEFAULT 'kg'::text NOT NULL,
    active boolean DEFAULT true NOT NULL
);


ALTER TABLE public.materials OWNER TO ucon;

--
-- Name: monthly_expenses; Type: TABLE; Schema: public; Owner: ucon
--

CREATE TABLE public.monthly_expenses (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    expense_month date NOT NULL,
    category text NOT NULL,
    subcategory text,
    description text NOT NULL,
    vendor_id uuid,
    amount numeric(18,2) NOT NULL,
    gst_amount numeric(18,2),
    expense_class public.expense_class NOT NULL,
    process_stage_id uuid,
    document_id uuid,
    status public.record_status DEFAULT 'PENDING_REVIEW'::public.record_status NOT NULL,
    entered_by uuid
);


ALTER TABLE public.monthly_expenses OWNER TO ucon;

--
-- Name: password_reset_tokens; Type: TABLE; Schema: public; Owner: ucon
--

CREATE TABLE public.password_reset_tokens (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    user_id uuid NOT NULL,
    token_hash text NOT NULL,
    expires_at timestamp with time zone NOT NULL,
    used_at timestamp with time zone,
    created_at timestamp with time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.password_reset_tokens OWNER TO ucon;

--
-- Name: permission_catalog; Type: TABLE; Schema: public; Owner: ucon
--

CREATE TABLE public.permission_catalog (
    permission_code character varying(100) NOT NULL,
    module character varying(60) NOT NULL,
    description text NOT NULL
);


ALTER TABLE public.permission_catalog OWNER TO ucon;

--
-- Name: process_stages; Type: TABLE; Schema: public; Owner: ucon
--

CREATE TABLE public.process_stages (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    code text NOT NULL,
    name text NOT NULL,
    sequence_no integer NOT NULL,
    active boolean DEFAULT true NOT NULL
);


ALTER TABLE public.process_stages OWNER TO ucon;

--
-- Name: production_batches; Type: TABLE; Schema: public; Owner: ucon
--

CREATE TABLE public.production_batches (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    batch_code text NOT NULL,
    batch_date date NOT NULL,
    material_lot text,
    planned_quantity numeric(18,3),
    target_quantity numeric(18,3),
    good_quantity numeric(18,3) DEFAULT 0 NOT NULL,
    rejected_quantity numeric(18,3) DEFAULT 0 NOT NULL,
    status text DEFAULT 'OPEN'::text NOT NULL,
    notes text,
    created_by uuid
);


ALTER TABLE public.production_batches OWNER TO ucon;

--
-- Name: production_plans; Type: TABLE; Schema: public; Owner: ucon
--

CREATE TABLE public.production_plans (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    plan_code text NOT NULL,
    plan_month date NOT NULL,
    target_quantity numeric(18,3) NOT NULL,
    status text DEFAULT 'DRAFT'::text NOT NULL,
    notes text,
    created_by uuid,
    created_at timestamp with time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.production_plans OWNER TO ucon;

--
-- Name: production_rejections; Type: TABLE; Schema: public; Owner: ucon
--

CREATE TABLE public.production_rejections (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    production_id uuid NOT NULL,
    reason_code text NOT NULL,
    quantity numeric(18,3) NOT NULL,
    disposition text,
    created_at timestamp with time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.production_rejections OWNER TO ucon;

--
-- Name: purchase_order_items; Type: TABLE; Schema: public; Owner: ucon
--

CREATE TABLE public.purchase_order_items (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    purchase_order_id uuid NOT NULL,
    material_id uuid,
    description text NOT NULL,
    quantity numeric(18,6) NOT NULL,
    unit text NOT NULL,
    unit_rate numeric(18,6) NOT NULL,
    gst_rate numeric(8,4),
    line_total numeric(18,2) NOT NULL
);


ALTER TABLE public.purchase_order_items OWNER TO ucon;

--
-- Name: purchase_orders; Type: TABLE; Schema: public; Owner: ucon
--

CREATE TABLE public.purchase_orders (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    po_number text NOT NULL,
    vendor_id uuid NOT NULL,
    po_date date NOT NULL,
    currency character(3) DEFAULT 'INR'::bpchar NOT NULL,
    subtotal numeric(18,2),
    gst_amount numeric(18,2),
    freight numeric(18,2),
    customs_duty numeric(18,2),
    clearing_charges numeric(18,2),
    landed_cost numeric(18,2),
    total_amount numeric(18,2),
    document_id uuid,
    status public.record_status DEFAULT 'VERIFIED'::public.record_status NOT NULL,
    created_by uuid
);


ALTER TABLE public.purchase_orders OWNER TO ucon;

--
-- Name: role_permissions; Type: TABLE; Schema: public; Owner: ucon
--

CREATE TABLE public.role_permissions (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    role public.user_role NOT NULL,
    permission_code character varying(100) NOT NULL,
    access_level character varying(20) DEFAULT 'VIEW'::character varying NOT NULL,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    CONSTRAINT role_permissions_access_level_check CHECK (((access_level)::text = ANY ((ARRAY['VIEW'::character varying, 'CREATE'::character varying, 'EDIT'::character varying, 'APPROVE'::character varying, 'ADMIN'::character varying])::text[])))
);


ALTER TABLE public.role_permissions OWNER TO ucon;

--
-- Name: tool_life_events; Type: TABLE; Schema: public; Owner: ucon
--

CREATE TABLE public.tool_life_events (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    tool_id uuid NOT NULL,
    event_date date NOT NULL,
    event_type text NOT NULL,
    pieces_before numeric(18,3) DEFAULT 0,
    pieces_after numeric(18,3) DEFAULT 0,
    regrind_no integer DEFAULT 0,
    cost numeric(18,2) DEFAULT 0,
    notes text,
    created_by uuid,
    machine_id uuid
);


ALTER TABLE public.tool_life_events OWNER TO ucon;

--
-- Name: tool_transactions; Type: TABLE; Schema: public; Owner: ucon
--

CREATE TABLE public.tool_transactions (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    tool_id uuid NOT NULL,
    transaction_date date NOT NULL,
    transaction_type text NOT NULL,
    quantity numeric(18,3) NOT NULL,
    machine_id uuid,
    batch_id uuid,
    pieces_produced numeric(18,3),
    cost numeric(18,2),
    notes text,
    entered_by uuid
);


ALTER TABLE public.tool_transactions OWNER TO ucon;

--
-- Name: tools; Type: TABLE; Schema: public; Owner: ucon
--

CREATE TABLE public.tools (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    tool_code text NOT NULL,
    tool_name text NOT NULL,
    tool_type text NOT NULL,
    manufacturer text,
    part_number text,
    process_stage_id uuid,
    standard_life_pieces numeric(18,2),
    regrind_limit integer,
    unit_cost numeric(18,6),
    active boolean DEFAULT true NOT NULL
);


ALTER TABLE public.tools OWNER TO ucon;

--
-- Name: users; Type: TABLE; Schema: public; Owner: ucon
--

CREATE TABLE public.users (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    name text NOT NULL,
    email text NOT NULL,
    password_hash text NOT NULL,
    role public.user_role NOT NULL,
    active boolean DEFAULT true NOT NULL,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    updated_at timestamp with time zone DEFAULT now() NOT NULL,
    account_status character varying(20) DEFAULT 'ACTIVE'::character varying NOT NULL,
    requested_at timestamp with time zone,
    reviewed_at timestamp with time zone,
    reviewed_by uuid,
    rejection_reason text,
    last_login_at timestamp with time zone,
    password_changed_at timestamp with time zone
);


ALTER TABLE public.users OWNER TO ucon;

--
-- Name: v_inventory_balance; Type: VIEW; Schema: public; Owner: ucon
--

CREATE VIEW public.v_inventory_balance AS
SELECT
    NULL::uuid AS id,
    NULL::text AS item_code,
    NULL::text AS item_name,
    NULL::text AS item_type,
    NULL::text AS unit,
    NULL::numeric(18,3) AS reorder_level,
    NULL::numeric AS balance;


ALTER VIEW public.v_inventory_balance OWNER TO ucon;

--
-- Name: v_production_summary; Type: VIEW; Schema: public; Owner: ucon
--

CREATE VIEW public.v_production_summary AS
 SELECT COALESCE(sum(qty_out), (0)::numeric) AS good_qty,
    COALESCE(sum(qty_rejected), (0)::numeric) AS rejected_qty,
    count(*) AS entries
   FROM public.daily_production;


ALTER VIEW public.v_production_summary OWNER TO ucon;

--
-- Name: vendor_aliases; Type: TABLE; Schema: public; Owner: ucon
--

CREATE TABLE public.vendor_aliases (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    vendor_id uuid NOT NULL,
    alias_name text NOT NULL
);


ALTER TABLE public.vendor_aliases OWNER TO ucon;

--
-- Name: vendor_rates; Type: TABLE; Schema: public; Owner: ucon
--

CREATE TABLE public.vendor_rates (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    vendor_id uuid NOT NULL,
    process_stage_id uuid,
    item_description text,
    rate numeric(18,6) NOT NULL,
    currency character(3) DEFAULT 'INR'::bpchar NOT NULL,
    effective_from date NOT NULL,
    effective_to date,
    source_document_id uuid,
    status public.record_status DEFAULT 'VERIFIED'::public.record_status NOT NULL,
    created_by uuid,
    created_at timestamp with time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.vendor_rates OWNER TO ucon;

--
-- Name: vendors; Type: TABLE; Schema: public; Owner: ucon
--

CREATE TABLE public.vendors (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    canonical_name text NOT NULL,
    category text,
    country text,
    gstin text,
    contact_name text,
    phone text,
    email text,
    address text,
    active boolean DEFAULT true NOT NULL,
    created_at timestamp with time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.vendors OWNER TO ucon;

--
-- Data for Name: audit_log; Type: TABLE DATA; Schema: public; Owner: ucon
--



--
-- Data for Name: auth_sessions; Type: TABLE DATA; Schema: public; Owner: ucon
--



--
-- Data for Name: capex; Type: TABLE DATA; Schema: public; Owner: ucon
--



--
-- Data for Name: cost_rules; Type: TABLE DATA; Schema: public; Owner: ucon
--

COPY public.cost_rules (id, process_stage_id, rule_name, rule_definition, effective_from, effective_to, active) FROM stdin;
\.


--
-- Data for Name: customers; Type: TABLE DATA; Schema: public; Owner: ucon
--

COPY public.customers (id, customer_code, customer_name, gstin, contact_name, phone, email, address, active) FROM stdin;
\.


--
-- Data for Name: daily_production; Type: TABLE DATA; Schema: public; Owner: ucon
--

COPY public.daily_production (id, production_date, batch_id, process_stage_id, machine_id, vendor_id, qty_in, qty_out, qty_rejected, rejection_reason, operator_name, notes, entered_by, created_at) FROM stdin;
f332509d-57c5-4ed3-992b-9a7469ea8b41	2026-09-17	\N	f953ef47-d963-4d5d-9900-c47d5519b387	\N	\N	16.000	15.000	1.000	\N	kricv	fgdf	845734a4-fe1e-46f1-a665-6e3b056ca219	2026-09-17 11:43:23.936129+00
\.


--
-- Data for Name: delivery_challans; Type: TABLE DATA; Schema: public; Owner: ucon
--

COPY public.delivery_challans (id, dc_number, dc_date, vendor_id, from_location, to_location, vehicle_no, purpose, document_id, status, customer_id, dispatch_status) FROM stdin;
\.


--
-- Data for Name: dispatch_items; Type: TABLE DATA; Schema: public; Owner: ucon
--

COPY public.dispatch_items (id, dc_id, item_code, description, quantity, unit, batch_id) FROM stdin;
\.


--
-- Data for Name: document_classification_catalog; Type: TABLE DATA; Schema: public; Owner: ucon
--



--
-- Data for Name: document_extraction_history; Type: TABLE DATA; Schema: public; Owner: ucon
--

COPY public.document_extraction_history (id, document_id, extraction_id, field_name, old_value, new_value, change_type, changed_by, changed_at, reason) FROM stdin;
\.


--
-- Data for Name: document_extractions; Type: TABLE DATA; Schema: public; Owner: ucon
--



--
-- Data for Name: document_import_batches; Type: TABLE DATA; Schema: public; Owner: ucon
--

COPY public.document_import_batches (id, batch_code, source_name, period_start, period_end, total_documents, processed_documents, verified_documents, rejected_documents, status, created_by, created_at, updated_at) FROM stdin;
\.


--
-- Data for Name: document_line_items; Type: TABLE DATA; Schema: public; Owner: ucon
--



--
-- Data for Name: document_pages; Type: TABLE DATA; Schema: public; Owner: ucon
--



--
-- Data for Name: document_processing_events; Type: TABLE DATA; Schema: public; Owner: ucon
--

COPY public.document_processing_events (id, document_id, event_type, provider, status, message, created_by, created_at) FROM stdin;
\.


--
-- Data for Name: documents; Type: TABLE DATA; Schema: public; Owner: ucon
--



--
-- Data for Name: inventory_items; Type: TABLE DATA; Schema: public; Owner: ucon
--



--
-- Data for Name: inventory_movements; Type: TABLE DATA; Schema: public; Owner: ucon
--

COPY public.inventory_movements (id, item_id, movement_date, movement_type, quantity, unit_cost, batch_id, reference_document_id, entered_by) FROM stdin;
cc550b2b-9b1e-4e04-934e-e512d44272f9	8efea593-720b-4022-ab5b-827609c95f3a	2024-04-13 00:00:00+00	RECEIPT	50.000	280.000000	\N	7065f03b-acc9-49ad-8a15-e73709e9add1	845734a4-fe1e-46f1-a665-6e3b056ca219
f5c3067d-80e2-40ea-997c-c2f2d7f65b42	080c8e3e-605f-4f87-b262-a274fd045107	2024-04-13 00:00:00+00	RECEIPT	2.000	8500.000000	\N	7065f03b-acc9-49ad-8a15-e73709e9add1	845734a4-fe1e-46f1-a665-6e3b056ca219
\.


--
-- Data for Name: invoice_items; Type: TABLE DATA; Schema: public; Owner: ucon
--



--
-- Data for Name: invoices; Type: TABLE DATA; Schema: public; Owner: ucon
--



--
-- Data for Name: machine_breakdowns; Type: TABLE DATA; Schema: public; Owner: ucon
--

COPY public.machine_breakdowns (id, machine_id, started_at, ended_at, reason, action_taken, cost, status, created_by) FROM stdin;
\.


--
-- Data for Name: machine_utilization; Type: TABLE DATA; Schema: public; Owner: ucon
--

COPY public.machine_utilization (id, machine_id, utilization_date, planned_hours, run_hours, downtime_hours, pieces_produced, notes, entered_by) FROM stdin;
\.


--
-- Data for Name: machines; Type: TABLE DATA; Schema: public; Owner: ucon
--



--
-- Data for Name: maintenance_records; Type: TABLE DATA; Schema: public; Owner: ucon
--

COPY public.maintenance_records (id, machine_id, maintenance_date, maintenance_type, description, vendor_id, amount, next_due_date, status, document_id, created_by) FROM stdin;
\.


--
-- Data for Name: materials; Type: TABLE DATA; Schema: public; Owner: ucon
--

COPY public.materials (id, material_code, material_name, grade, diameter_mm, standard_length_mm, density_kg_m3, unit, active) FROM stdin;
8fa1f3fb-7eb2-4d9b-8d75-455a0753620d	RM-20MNCR5H-26	20MnCr5H Rod	20MnCr5H	26.000	6000.000	7850.000000	kg	t
\.


--
-- Data for Name: monthly_expenses; Type: TABLE DATA; Schema: public; Owner: ucon
--

COPY public.monthly_expenses (id, expense_month, category, subcategory, description, vendor_id, amount, gst_amount, expense_class, process_stage_id, document_id, status, entered_by) FROM stdin;
\.


--
-- Data for Name: password_reset_tokens; Type: TABLE DATA; Schema: public; Owner: ucon
--

COPY public.password_reset_tokens (id, user_id, token_hash, expires_at, used_at, created_at) FROM stdin;
393488e3-a796-417e-8066-793760f43169	92c3135e-bab4-464d-9a3b-7969c1f18b5a	08be5d7ac2d823f763db9ede5d830e0522b4face9ebe6c955111af54fafdda86	2026-09-19 20:17:35.121947+00	\N	2026-09-19 19:47:35.121947+00
\.


--
-- Data for Name: permission_catalog; Type: TABLE DATA; Schema: public; Owner: ucon
--



--
-- Data for Name: process_stages; Type: TABLE DATA; Schema: public; Owner: ucon
--



--
-- Data for Name: production_batches; Type: TABLE DATA; Schema: public; Owner: ucon
--

COPY public.production_batches (id, batch_code, batch_date, material_lot, planned_quantity, target_quantity, good_quantity, rejected_quantity, status, notes, created_by) FROM stdin;
\.


--
-- Data for Name: production_plans; Type: TABLE DATA; Schema: public; Owner: ucon
--

COPY public.production_plans (id, plan_code, plan_month, target_quantity, status, notes, created_by, created_at) FROM stdin;
\.


--
-- Data for Name: production_rejections; Type: TABLE DATA; Schema: public; Owner: ucon
--

COPY public.production_rejections (id, production_id, reason_code, quantity, disposition, created_at) FROM stdin;
\.


--
-- Data for Name: purchase_order_items; Type: TABLE DATA; Schema: public; Owner: ucon
--

COPY public.purchase_order_items (id, purchase_order_id, material_id, description, quantity, unit, unit_rate, gst_rate, line_total) FROM stdin;
\.


--
-- Data for Name: purchase_orders; Type: TABLE DATA; Schema: public; Owner: ucon
--

COPY public.purchase_orders (id, po_number, vendor_id, po_date, currency, subtotal, gst_amount, freight, customs_duty, clearing_charges, landed_cost, total_amount, document_id, status, created_by) FROM stdin;
\.


--
-- Data for Name: role_permissions; Type: TABLE DATA; Schema: public; Owner: ucon
--



--
-- Data for Name: tool_life_events; Type: TABLE DATA; Schema: public; Owner: ucon
--

COPY public.tool_life_events (id, tool_id, event_date, event_type, pieces_before, pieces_after, regrind_no, cost, notes, created_by, machine_id) FROM stdin;
b94f3774-5548-4cbb-a750-42a07e9c275b	afdee53d-ec8a-47d4-92c2-6a70d1ec05e4	2024-04-13	NEW_TOOL_RECEIPT	0.000	0.000	0	16520.00	Invoice MIC-2024-089 ┬╖ DocRef: 7065f03b-acc9-49ad-8a15-e73709e9add1	845734a4-fe1e-46f1-a665-6e3b056ca219	bcc96995-cc30-4733-876e-d1dbb2cbd25b
\.


--
-- Data for Name: tool_transactions; Type: TABLE DATA; Schema: public; Owner: ucon
--

COPY public.tool_transactions (id, tool_id, transaction_date, transaction_type, quantity, machine_id, batch_id, pieces_produced, cost, notes, entered_by) FROM stdin;
\.


--
-- Data for Name: tools; Type: TABLE DATA; Schema: public; Owner: ucon
--



--
-- Data for Name: users; Type: TABLE DATA; Schema: public; Owner: ucon
--



--
-- Data for Name: vendor_aliases; Type: TABLE DATA; Schema: public; Owner: ucon
--

COPY public.vendor_aliases (id, vendor_id, alias_name) FROM stdin;
\.


--
-- Data for Name: vendor_rates; Type: TABLE DATA; Schema: public; Owner: ucon
--

COPY public.vendor_rates (id, vendor_id, process_stage_id, item_description, rate, currency, effective_from, effective_to, source_document_id, status, created_by, created_at) FROM stdin;
\.


--
-- Data for Name: vendors; Type: TABLE DATA; Schema: public; Owner: ucon
--

COPY public.vendors (id, canonical_name, category, country, gstin, contact_name, phone, email, address, active, created_at) FROM stdin;
1cc11320-c9dc-49e4-9765-8e46dae828ed	Ace Micromatic Machine Tools	SUBCONTRACT	\N	\N	\N	\N	\N	\N	t	2026-09-20 07:53:35.854795+00
deffcf48-7a13-4f83-9786-a1eae7f89c15	Steel & Tooling Suppliers Ltd	SUBCONTRACT	\N	\N	\N	\N	\N	\N	t	2026-09-20 09:24:57.774667+00
15d5da85-d02d-4ef2-9382-379d3dc0dae2	Accurate Engineering Works	SUBCONTRACT	\N	\N	\N	\N	\N	\N	t	2026-09-20 15:48:01.188226+00
\.


--
-- Name: audit_log audit_log_pkey; Type: CONSTRAINT; Schema: public; Owner: ucon
--

ALTER TABLE ONLY public.audit_log
    ADD CONSTRAINT audit_log_pkey PRIMARY KEY (id);


--
-- Name: auth_sessions auth_sessions_pkey; Type: CONSTRAINT; Schema: public; Owner: ucon
--

ALTER TABLE ONLY public.auth_sessions
    ADD CONSTRAINT auth_sessions_pkey PRIMARY KEY (id);


--
-- Name: auth_sessions auth_sessions_token_hash_key; Type: CONSTRAINT; Schema: public; Owner: ucon
--

ALTER TABLE ONLY public.auth_sessions
    ADD CONSTRAINT auth_sessions_token_hash_key UNIQUE (token_hash);


--
-- Name: capex capex_pkey; Type: CONSTRAINT; Schema: public; Owner: ucon
--

ALTER TABLE ONLY public.capex
    ADD CONSTRAINT capex_pkey PRIMARY KEY (id);


--
-- Name: cost_rules cost_rules_pkey; Type: CONSTRAINT; Schema: public; Owner: ucon
--

ALTER TABLE ONLY public.cost_rules
    ADD CONSTRAINT cost_rules_pkey PRIMARY KEY (id);


--
-- Name: customers customers_customer_code_key; Type: CONSTRAINT; Schema: public; Owner: ucon
--

ALTER TABLE ONLY public.customers
    ADD CONSTRAINT customers_customer_code_key UNIQUE (customer_code);


--
-- Name: customers customers_customer_name_key; Type: CONSTRAINT; Schema: public; Owner: ucon
--

ALTER TABLE ONLY public.customers
    ADD CONSTRAINT customers_customer_name_key UNIQUE (customer_name);


--
-- Name: customers customers_pkey; Type: CONSTRAINT; Schema: public; Owner: ucon
--

ALTER TABLE ONLY public.customers
    ADD CONSTRAINT customers_pkey PRIMARY KEY (id);


--
-- Name: daily_production daily_production_pkey; Type: CONSTRAINT; Schema: public; Owner: ucon
--

ALTER TABLE ONLY public.daily_production
    ADD CONSTRAINT daily_production_pkey PRIMARY KEY (id);


--
-- Name: delivery_challans delivery_challans_dc_number_dc_date_key; Type: CONSTRAINT; Schema: public; Owner: ucon
--

ALTER TABLE ONLY public.delivery_challans
    ADD CONSTRAINT delivery_challans_dc_number_dc_date_key UNIQUE (dc_number, dc_date);


--
-- Name: delivery_challans delivery_challans_pkey; Type: CONSTRAINT; Schema: public; Owner: ucon
--

ALTER TABLE ONLY public.delivery_challans
    ADD CONSTRAINT delivery_challans_pkey PRIMARY KEY (id);


--
-- Name: dispatch_items dispatch_items_pkey; Type: CONSTRAINT; Schema: public; Owner: ucon
--

ALTER TABLE ONLY public.dispatch_items
    ADD CONSTRAINT dispatch_items_pkey PRIMARY KEY (id);


--
-- Name: document_classification_catalog document_classification_catalog_pkey; Type: CONSTRAINT; Schema: public; Owner: ucon
--

ALTER TABLE ONLY public.document_classification_catalog
    ADD CONSTRAINT document_classification_catalog_pkey PRIMARY KEY (code);


--
-- Name: document_extraction_history document_extraction_history_pkey; Type: CONSTRAINT; Schema: public; Owner: ucon
--

ALTER TABLE ONLY public.document_extraction_history
    ADD CONSTRAINT document_extraction_history_pkey PRIMARY KEY (id);


--
-- Name: document_extractions document_extractions_pkey; Type: CONSTRAINT; Schema: public; Owner: ucon
--

ALTER TABLE ONLY public.document_extractions
    ADD CONSTRAINT document_extractions_pkey PRIMARY KEY (id);


--
-- Name: document_import_batches document_import_batches_batch_code_key; Type: CONSTRAINT; Schema: public; Owner: ucon
--

ALTER TABLE ONLY public.document_import_batches
    ADD CONSTRAINT document_import_batches_batch_code_key UNIQUE (batch_code);


--
-- Name: document_import_batches document_import_batches_pkey; Type: CONSTRAINT; Schema: public; Owner: ucon
--

ALTER TABLE ONLY public.document_import_batches
    ADD CONSTRAINT document_import_batches_pkey PRIMARY KEY (id);


--
-- Name: document_line_items document_line_items_document_id_line_no_key; Type: CONSTRAINT; Schema: public; Owner: ucon
--

ALTER TABLE ONLY public.document_line_items
    ADD CONSTRAINT document_line_items_document_id_line_no_key UNIQUE (document_id, line_no);


--
-- Name: document_line_items document_line_items_pkey; Type: CONSTRAINT; Schema: public; Owner: ucon
--

ALTER TABLE ONLY public.document_line_items
    ADD CONSTRAINT document_line_items_pkey PRIMARY KEY (id);


--
-- Name: document_pages document_pages_document_id_page_no_key; Type: CONSTRAINT; Schema: public; Owner: ucon
--

ALTER TABLE ONLY public.document_pages
    ADD CONSTRAINT document_pages_document_id_page_no_key UNIQUE (document_id, page_no);


--
-- Name: document_pages document_pages_pkey; Type: CONSTRAINT; Schema: public; Owner: ucon
--

ALTER TABLE ONLY public.document_pages
    ADD CONSTRAINT document_pages_pkey PRIMARY KEY (id);


--
-- Name: document_processing_events document_processing_events_pkey; Type: CONSTRAINT; Schema: public; Owner: ucon
--

ALTER TABLE ONLY public.document_processing_events
    ADD CONSTRAINT document_processing_events_pkey PRIMARY KEY (id);


--
-- Name: documents documents_file_sha256_key; Type: CONSTRAINT; Schema: public; Owner: ucon
--

ALTER TABLE ONLY public.documents
    ADD CONSTRAINT documents_file_sha256_key UNIQUE (file_sha256);


--
-- Name: documents documents_pkey; Type: CONSTRAINT; Schema: public; Owner: ucon
--

ALTER TABLE ONLY public.documents
    ADD CONSTRAINT documents_pkey PRIMARY KEY (id);


--
-- Name: inventory_items inventory_items_item_code_key; Type: CONSTRAINT; Schema: public; Owner: ucon
--

ALTER TABLE ONLY public.inventory_items
    ADD CONSTRAINT inventory_items_item_code_key UNIQUE (item_code);


--
-- Name: inventory_items inventory_items_pkey; Type: CONSTRAINT; Schema: public; Owner: ucon
--

ALTER TABLE ONLY public.inventory_items
    ADD CONSTRAINT inventory_items_pkey PRIMARY KEY (id);


--
-- Name: inventory_movements inventory_movements_pkey; Type: CONSTRAINT; Schema: public; Owner: ucon
--

ALTER TABLE ONLY public.inventory_movements
    ADD CONSTRAINT inventory_movements_pkey PRIMARY KEY (id);


--
-- Name: invoice_items invoice_items_pkey; Type: CONSTRAINT; Schema: public; Owner: ucon
--

ALTER TABLE ONLY public.invoice_items
    ADD CONSTRAINT invoice_items_pkey PRIMARY KEY (id);


--
-- Name: invoices invoices_pkey; Type: CONSTRAINT; Schema: public; Owner: ucon
--

ALTER TABLE ONLY public.invoices
    ADD CONSTRAINT invoices_pkey PRIMARY KEY (id);


--
-- Name: invoices invoices_vendor_id_invoice_number_key; Type: CONSTRAINT; Schema: public; Owner: ucon
--

ALTER TABLE ONLY public.invoices
    ADD CONSTRAINT invoices_vendor_id_invoice_number_key UNIQUE (vendor_id, invoice_number);


--
-- Name: machine_breakdowns machine_breakdowns_pkey; Type: CONSTRAINT; Schema: public; Owner: ucon
--

ALTER TABLE ONLY public.machine_breakdowns
    ADD CONSTRAINT machine_breakdowns_pkey PRIMARY KEY (id);


--
-- Name: machine_utilization machine_utilization_machine_id_utilization_date_key; Type: CONSTRAINT; Schema: public; Owner: ucon
--

ALTER TABLE ONLY public.machine_utilization
    ADD CONSTRAINT machine_utilization_machine_id_utilization_date_key UNIQUE (machine_id, utilization_date);


--
-- Name: machine_utilization machine_utilization_pkey; Type: CONSTRAINT; Schema: public; Owner: ucon
--

ALTER TABLE ONLY public.machine_utilization
    ADD CONSTRAINT machine_utilization_pkey PRIMARY KEY (id);


--
-- Name: machines machines_machine_code_key; Type: CONSTRAINT; Schema: public; Owner: ucon
--

ALTER TABLE ONLY public.machines
    ADD CONSTRAINT machines_machine_code_key UNIQUE (machine_code);


--
-- Name: machines machines_pkey; Type: CONSTRAINT; Schema: public; Owner: ucon
--

ALTER TABLE ONLY public.machines
    ADD CONSTRAINT machines_pkey PRIMARY KEY (id);


--
-- Name: maintenance_records maintenance_records_pkey; Type: CONSTRAINT; Schema: public; Owner: ucon
--

ALTER TABLE ONLY public.maintenance_records
    ADD CONSTRAINT maintenance_records_pkey PRIMARY KEY (id);


--
-- Name: materials materials_material_code_key; Type: CONSTRAINT; Schema: public; Owner: ucon
--

ALTER TABLE ONLY public.materials
    ADD CONSTRAINT materials_material_code_key UNIQUE (material_code);


--
-- Name: materials materials_pkey; Type: CONSTRAINT; Schema: public; Owner: ucon
--

ALTER TABLE ONLY public.materials
    ADD CONSTRAINT materials_pkey PRIMARY KEY (id);


--
-- Name: monthly_expenses monthly_expenses_pkey; Type: CONSTRAINT; Schema: public; Owner: ucon
--

ALTER TABLE ONLY public.monthly_expenses
    ADD CONSTRAINT monthly_expenses_pkey PRIMARY KEY (id);


--
-- Name: password_reset_tokens password_reset_tokens_pkey; Type: CONSTRAINT; Schema: public; Owner: ucon
--

ALTER TABLE ONLY public.password_reset_tokens
    ADD CONSTRAINT password_reset_tokens_pkey PRIMARY KEY (id);


--
-- Name: password_reset_tokens password_reset_tokens_token_hash_key; Type: CONSTRAINT; Schema: public; Owner: ucon
--

ALTER TABLE ONLY public.password_reset_tokens
    ADD CONSTRAINT password_reset_tokens_token_hash_key UNIQUE (token_hash);


--
-- Name: permission_catalog permission_catalog_pkey; Type: CONSTRAINT; Schema: public; Owner: ucon
--

ALTER TABLE ONLY public.permission_catalog
    ADD CONSTRAINT permission_catalog_pkey PRIMARY KEY (permission_code);


--
-- Name: process_stages process_stages_code_key; Type: CONSTRAINT; Schema: public; Owner: ucon
--

ALTER TABLE ONLY public.process_stages
    ADD CONSTRAINT process_stages_code_key UNIQUE (code);


--
-- Name: process_stages process_stages_name_key; Type: CONSTRAINT; Schema: public; Owner: ucon
--

ALTER TABLE ONLY public.process_stages
    ADD CONSTRAINT process_stages_name_key UNIQUE (name);


--
-- Name: process_stages process_stages_pkey; Type: CONSTRAINT; Schema: public; Owner: ucon
--

ALTER TABLE ONLY public.process_stages
    ADD CONSTRAINT process_stages_pkey PRIMARY KEY (id);


--
-- Name: production_batches production_batches_batch_code_key; Type: CONSTRAINT; Schema: public; Owner: ucon
--

ALTER TABLE ONLY public.production_batches
    ADD CONSTRAINT production_batches_batch_code_key UNIQUE (batch_code);


--
-- Name: production_batches production_batches_pkey; Type: CONSTRAINT; Schema: public; Owner: ucon
--

ALTER TABLE ONLY public.production_batches
    ADD CONSTRAINT production_batches_pkey PRIMARY KEY (id);


--
-- Name: production_plans production_plans_pkey; Type: CONSTRAINT; Schema: public; Owner: ucon
--

ALTER TABLE ONLY public.production_plans
    ADD CONSTRAINT production_plans_pkey PRIMARY KEY (id);


--
-- Name: production_plans production_plans_plan_code_key; Type: CONSTRAINT; Schema: public; Owner: ucon
--

ALTER TABLE ONLY public.production_plans
    ADD CONSTRAINT production_plans_plan_code_key UNIQUE (plan_code);


--
-- Name: production_rejections production_rejections_pkey; Type: CONSTRAINT; Schema: public; Owner: ucon
--

ALTER TABLE ONLY public.production_rejections
    ADD CONSTRAINT production_rejections_pkey PRIMARY KEY (id);


--
-- Name: purchase_order_items purchase_order_items_pkey; Type: CONSTRAINT; Schema: public; Owner: ucon
--

ALTER TABLE ONLY public.purchase_order_items
    ADD CONSTRAINT purchase_order_items_pkey PRIMARY KEY (id);


--
-- Name: purchase_orders purchase_orders_pkey; Type: CONSTRAINT; Schema: public; Owner: ucon
--

ALTER TABLE ONLY public.purchase_orders
    ADD CONSTRAINT purchase_orders_pkey PRIMARY KEY (id);


--
-- Name: purchase_orders purchase_orders_po_number_key; Type: CONSTRAINT; Schema: public; Owner: ucon
--

ALTER TABLE ONLY public.purchase_orders
    ADD CONSTRAINT purchase_orders_po_number_key UNIQUE (po_number);


--
-- Name: role_permissions role_permissions_pkey; Type: CONSTRAINT; Schema: public; Owner: ucon
--

ALTER TABLE ONLY public.role_permissions
    ADD CONSTRAINT role_permissions_pkey PRIMARY KEY (id);


--
-- Name: role_permissions role_permissions_role_permission_code_key; Type: CONSTRAINT; Schema: public; Owner: ucon
--

ALTER TABLE ONLY public.role_permissions
    ADD CONSTRAINT role_permissions_role_permission_code_key UNIQUE (role, permission_code);


--
-- Name: tool_life_events tool_life_events_pkey; Type: CONSTRAINT; Schema: public; Owner: ucon
--

ALTER TABLE ONLY public.tool_life_events
    ADD CONSTRAINT tool_life_events_pkey PRIMARY KEY (id);


--
-- Name: tool_transactions tool_transactions_pkey; Type: CONSTRAINT; Schema: public; Owner: ucon
--

ALTER TABLE ONLY public.tool_transactions
    ADD CONSTRAINT tool_transactions_pkey PRIMARY KEY (id);


--
-- Name: tools tools_pkey; Type: CONSTRAINT; Schema: public; Owner: ucon
--

ALTER TABLE ONLY public.tools
    ADD CONSTRAINT tools_pkey PRIMARY KEY (id);


--
-- Name: tools tools_tool_code_key; Type: CONSTRAINT; Schema: public; Owner: ucon
--

ALTER TABLE ONLY public.tools
    ADD CONSTRAINT tools_tool_code_key UNIQUE (tool_code);


--
-- Name: users users_email_key; Type: CONSTRAINT; Schema: public; Owner: ucon
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_email_key UNIQUE (email);


--
-- Name: users users_pkey; Type: CONSTRAINT; Schema: public; Owner: ucon
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_pkey PRIMARY KEY (id);


--
-- Name: vendor_aliases vendor_aliases_pkey; Type: CONSTRAINT; Schema: public; Owner: ucon
--

ALTER TABLE ONLY public.vendor_aliases
    ADD CONSTRAINT vendor_aliases_pkey PRIMARY KEY (id);


--
-- Name: vendor_aliases vendor_aliases_vendor_id_alias_name_key; Type: CONSTRAINT; Schema: public; Owner: ucon
--

ALTER TABLE ONLY public.vendor_aliases
    ADD CONSTRAINT vendor_aliases_vendor_id_alias_name_key UNIQUE (vendor_id, alias_name);


--
-- Name: vendor_rates vendor_rates_pkey; Type: CONSTRAINT; Schema: public; Owner: ucon
--

ALTER TABLE ONLY public.vendor_rates
    ADD CONSTRAINT vendor_rates_pkey PRIMARY KEY (id);


--
-- Name: vendors vendors_canonical_name_key; Type: CONSTRAINT; Schema: public; Owner: ucon
--

ALTER TABLE ONLY public.vendors
    ADD CONSTRAINT vendors_canonical_name_key UNIQUE (canonical_name);


--
-- Name: vendors vendors_pkey; Type: CONSTRAINT; Schema: public; Owner: ucon
--

ALTER TABLE ONLY public.vendors
    ADD CONSTRAINT vendors_pkey PRIMARY KEY (id);


--
-- Name: idx_auth_sessions_expiry; Type: INDEX; Schema: public; Owner: ucon
--

CREATE INDEX idx_auth_sessions_expiry ON public.auth_sessions USING btree (expires_at);


--
-- Name: idx_auth_sessions_token; Type: INDEX; Schema: public; Owner: ucon
--

CREATE INDEX idx_auth_sessions_token ON public.auth_sessions USING btree (token_hash);


--
-- Name: idx_auth_sessions_user; Type: INDEX; Schema: public; Owner: ucon
--

CREATE INDEX idx_auth_sessions_user ON public.auth_sessions USING btree (user_id);


--
-- Name: idx_daily_production_date; Type: INDEX; Schema: public; Owner: ucon
--

CREATE INDEX idx_daily_production_date ON public.daily_production USING btree (production_date);


--
-- Name: idx_daily_production_stage; Type: INDEX; Schema: public; Owner: ucon
--

CREATE INDEX idx_daily_production_stage ON public.daily_production USING btree (process_stage_id);


--
-- Name: idx_documents_ai_confidence; Type: INDEX; Schema: public; Owner: ucon
--

CREATE INDEX idx_documents_ai_confidence ON public.documents USING btree (ai_confidence);


--
-- Name: idx_documents_classification; Type: INDEX; Schema: public; Owner: ucon
--

CREATE INDEX idx_documents_classification ON public.documents USING btree (classification_code);


--
-- Name: idx_documents_date; Type: INDEX; Schema: public; Owner: ucon
--

CREATE INDEX idx_documents_date ON public.documents USING btree (document_date);


--
-- Name: idx_documents_destination; Type: INDEX; Schema: public; Owner: ucon
--

CREATE INDEX idx_documents_destination ON public.documents USING btree (destination_module);


--
-- Name: idx_documents_ingestion_batch; Type: INDEX; Schema: public; Owner: ucon
--

CREATE INDEX idx_documents_ingestion_batch ON public.documents USING btree (ingestion_batch);


--
-- Name: idx_documents_vendor; Type: INDEX; Schema: public; Owner: ucon
--

CREATE INDEX idx_documents_vendor ON public.documents USING btree (vendor_id);


--
-- Name: idx_inventory_movement_item_date; Type: INDEX; Schema: public; Owner: ucon
--

CREATE INDEX idx_inventory_movement_item_date ON public.inventory_movements USING btree (item_id, movement_date);


--
-- Name: idx_invoices_date; Type: INDEX; Schema: public; Owner: ucon
--

CREATE INDEX idx_invoices_date ON public.invoices USING btree (invoice_date);


--
-- Name: idx_machine_breakdown_machine; Type: INDEX; Schema: public; Owner: ucon
--

CREATE INDEX idx_machine_breakdown_machine ON public.machine_breakdowns USING btree (machine_id, started_at);


--
-- Name: idx_maintenance_machine; Type: INDEX; Schema: public; Owner: ucon
--

CREATE INDEX idx_maintenance_machine ON public.maintenance_records USING btree (machine_id, maintenance_date);


--
-- Name: idx_monthly_expenses_month; Type: INDEX; Schema: public; Owner: ucon
--

CREATE INDEX idx_monthly_expenses_month ON public.monthly_expenses USING btree (expense_month);


--
-- Name: idx_password_reset_tokens_user; Type: INDEX; Schema: public; Owner: ucon
--

CREATE INDEX idx_password_reset_tokens_user ON public.password_reset_tokens USING btree (user_id);


--
-- Name: idx_production_batch_date; Type: INDEX; Schema: public; Owner: ucon
--

CREATE INDEX idx_production_batch_date ON public.production_batches USING btree (batch_date);


--
-- Name: idx_role_permissions_role; Type: INDEX; Schema: public; Owner: ucon
--

CREATE INDEX idx_role_permissions_role ON public.role_permissions USING btree (role);


--
-- Name: idx_users_status; Type: INDEX; Schema: public; Owner: ucon
--

CREATE INDEX idx_users_status ON public.users USING btree (account_status, active);


--
-- Name: idx_vendor_rates_effective; Type: INDEX; Schema: public; Owner: ucon
--

CREATE INDEX idx_vendor_rates_effective ON public.vendor_rates USING btree (vendor_id, effective_from);


--
-- Name: v_inventory_balance _RETURN; Type: RULE; Schema: public; Owner: ucon
--

CREATE OR REPLACE VIEW public.v_inventory_balance AS
 SELECT i.id,
    i.item_code,
    i.item_name,
    i.item_type,
    i.unit,
    i.reorder_level,
    COALESCE(sum(
        CASE
            WHEN (m.movement_type = ANY (ARRAY['RECEIPT'::public.movement_type, 'PRODUCTION_IN'::public.movement_type, 'TRANSFER'::public.movement_type])) THEN m.quantity
            ELSE (- m.quantity)
        END), (0)::numeric) AS balance
   FROM (public.inventory_items i
     LEFT JOIN public.inventory_movements m ON ((m.item_id = i.id)))
  GROUP BY i.id;


--
-- Name: audit_log audit_log_changed_by_fkey; Type: FK CONSTRAINT; Schema: public; Owner: ucon
--

ALTER TABLE ONLY public.audit_log
    ADD CONSTRAINT audit_log_changed_by_fkey FOREIGN KEY (changed_by) REFERENCES public.users(id);


--
-- Name: auth_sessions auth_sessions_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: ucon
--

ALTER TABLE ONLY public.auth_sessions
    ADD CONSTRAINT auth_sessions_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id) ON DELETE CASCADE;


--
-- Name: capex capex_document_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: ucon
--

ALTER TABLE ONLY public.capex
    ADD CONSTRAINT capex_document_id_fkey FOREIGN KEY (document_id) REFERENCES public.documents(id);


--
-- Name: capex capex_machine_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: ucon
--

ALTER TABLE ONLY public.capex
    ADD CONSTRAINT capex_machine_id_fkey FOREIGN KEY (machine_id) REFERENCES public.machines(id);


--
-- Name: capex capex_vendor_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: ucon
--

ALTER TABLE ONLY public.capex
    ADD CONSTRAINT capex_vendor_id_fkey FOREIGN KEY (vendor_id) REFERENCES public.vendors(id);


--
-- Name: cost_rules cost_rules_process_stage_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: ucon
--

ALTER TABLE ONLY public.cost_rules
    ADD CONSTRAINT cost_rules_process_stage_id_fkey FOREIGN KEY (process_stage_id) REFERENCES public.process_stages(id);


--
-- Name: daily_production daily_production_batch_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: ucon
--

ALTER TABLE ONLY public.daily_production
    ADD CONSTRAINT daily_production_batch_id_fkey FOREIGN KEY (batch_id) REFERENCES public.production_batches(id);


--
-- Name: daily_production daily_production_entered_by_fkey; Type: FK CONSTRAINT; Schema: public; Owner: ucon
--

ALTER TABLE ONLY public.daily_production
    ADD CONSTRAINT daily_production_entered_by_fkey FOREIGN KEY (entered_by) REFERENCES public.users(id);


--
-- Name: daily_production daily_production_machine_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: ucon
--

ALTER TABLE ONLY public.daily_production
    ADD CONSTRAINT daily_production_machine_id_fkey FOREIGN KEY (machine_id) REFERENCES public.machines(id);


--
-- Name: daily_production daily_production_process_stage_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: ucon
--

ALTER TABLE ONLY public.daily_production
    ADD CONSTRAINT daily_production_process_stage_id_fkey FOREIGN KEY (process_stage_id) REFERENCES public.process_stages(id);


--
-- Name: daily_production daily_production_vendor_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: ucon
--

ALTER TABLE ONLY public.daily_production
    ADD CONSTRAINT daily_production_vendor_id_fkey FOREIGN KEY (vendor_id) REFERENCES public.vendors(id);


--
-- Name: delivery_challans delivery_challans_customer_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: ucon
--

ALTER TABLE ONLY public.delivery_challans
    ADD CONSTRAINT delivery_challans_customer_id_fkey FOREIGN KEY (customer_id) REFERENCES public.customers(id);


--
-- Name: delivery_challans delivery_challans_document_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: ucon
--

ALTER TABLE ONLY public.delivery_challans
    ADD CONSTRAINT delivery_challans_document_id_fkey FOREIGN KEY (document_id) REFERENCES public.documents(id);


--
-- Name: delivery_challans delivery_challans_vendor_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: ucon
--

ALTER TABLE ONLY public.delivery_challans
    ADD CONSTRAINT delivery_challans_vendor_id_fkey FOREIGN KEY (vendor_id) REFERENCES public.vendors(id);


--
-- Name: dispatch_items dispatch_items_batch_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: ucon
--

ALTER TABLE ONLY public.dispatch_items
    ADD CONSTRAINT dispatch_items_batch_id_fkey FOREIGN KEY (batch_id) REFERENCES public.production_batches(id);


--
-- Name: dispatch_items dispatch_items_dc_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: ucon
--

ALTER TABLE ONLY public.dispatch_items
    ADD CONSTRAINT dispatch_items_dc_id_fkey FOREIGN KEY (dc_id) REFERENCES public.delivery_challans(id) ON DELETE CASCADE;


--
-- Name: document_extraction_history document_extraction_history_changed_by_fkey; Type: FK CONSTRAINT; Schema: public; Owner: ucon
--

ALTER TABLE ONLY public.document_extraction_history
    ADD CONSTRAINT document_extraction_history_changed_by_fkey FOREIGN KEY (changed_by) REFERENCES public.users(id);


--
-- Name: document_extraction_history document_extraction_history_document_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: ucon
--

ALTER TABLE ONLY public.document_extraction_history
    ADD CONSTRAINT document_extraction_history_document_id_fkey FOREIGN KEY (document_id) REFERENCES public.documents(id) ON DELETE CASCADE;


--
-- Name: document_extraction_history document_extraction_history_extraction_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: ucon
--

ALTER TABLE ONLY public.document_extraction_history
    ADD CONSTRAINT document_extraction_history_extraction_id_fkey FOREIGN KEY (extraction_id) REFERENCES public.document_extractions(id) ON DELETE SET NULL;


--
-- Name: document_extractions document_extractions_document_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: ucon
--

ALTER TABLE ONLY public.document_extractions
    ADD CONSTRAINT document_extractions_document_id_fkey FOREIGN KEY (document_id) REFERENCES public.documents(id) ON DELETE CASCADE;


--
-- Name: document_extractions document_extractions_reviewed_by_fkey; Type: FK CONSTRAINT; Schema: public; Owner: ucon
--

ALTER TABLE ONLY public.document_extractions
    ADD CONSTRAINT document_extractions_reviewed_by_fkey FOREIGN KEY (reviewed_by) REFERENCES public.users(id);


--
-- Name: document_import_batches document_import_batches_created_by_fkey; Type: FK CONSTRAINT; Schema: public; Owner: ucon
--

ALTER TABLE ONLY public.document_import_batches
    ADD CONSTRAINT document_import_batches_created_by_fkey FOREIGN KEY (created_by) REFERENCES public.users(id);


--
-- Name: document_line_items document_line_items_document_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: ucon
--

ALTER TABLE ONLY public.document_line_items
    ADD CONSTRAINT document_line_items_document_id_fkey FOREIGN KEY (document_id) REFERENCES public.documents(id) ON DELETE CASCADE;


--
-- Name: document_line_items document_line_items_reviewed_by_fkey; Type: FK CONSTRAINT; Schema: public; Owner: ucon
--

ALTER TABLE ONLY public.document_line_items
    ADD CONSTRAINT document_line_items_reviewed_by_fkey FOREIGN KEY (reviewed_by) REFERENCES public.users(id);


--
-- Name: document_pages document_pages_document_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: ucon
--

ALTER TABLE ONLY public.document_pages
    ADD CONSTRAINT document_pages_document_id_fkey FOREIGN KEY (document_id) REFERENCES public.documents(id) ON DELETE CASCADE;


--
-- Name: document_processing_events document_processing_events_created_by_fkey; Type: FK CONSTRAINT; Schema: public; Owner: ucon
--

ALTER TABLE ONLY public.document_processing_events
    ADD CONSTRAINT document_processing_events_created_by_fkey FOREIGN KEY (created_by) REFERENCES public.users(id);


--
-- Name: document_processing_events document_processing_events_document_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: ucon
--

ALTER TABLE ONLY public.document_processing_events
    ADD CONSTRAINT document_processing_events_document_id_fkey FOREIGN KEY (document_id) REFERENCES public.documents(id) ON DELETE CASCADE;


--
-- Name: documents documents_created_by_fkey; Type: FK CONSTRAINT; Schema: public; Owner: ucon
--

ALTER TABLE ONLY public.documents
    ADD CONSTRAINT documents_created_by_fkey FOREIGN KEY (created_by) REFERENCES public.users(id);


--
-- Name: documents documents_vendor_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: ucon
--

ALTER TABLE ONLY public.documents
    ADD CONSTRAINT documents_vendor_id_fkey FOREIGN KEY (vendor_id) REFERENCES public.vendors(id);


--
-- Name: documents documents_verified_by_fkey; Type: FK CONSTRAINT; Schema: public; Owner: ucon
--

ALTER TABLE ONLY public.documents
    ADD CONSTRAINT documents_verified_by_fkey FOREIGN KEY (verified_by) REFERENCES public.users(id);


--
-- Name: inventory_items inventory_items_material_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: ucon
--

ALTER TABLE ONLY public.inventory_items
    ADD CONSTRAINT inventory_items_material_id_fkey FOREIGN KEY (material_id) REFERENCES public.materials(id);


--
-- Name: inventory_movements inventory_movements_batch_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: ucon
--

ALTER TABLE ONLY public.inventory_movements
    ADD CONSTRAINT inventory_movements_batch_id_fkey FOREIGN KEY (batch_id) REFERENCES public.production_batches(id);


--
-- Name: inventory_movements inventory_movements_entered_by_fkey; Type: FK CONSTRAINT; Schema: public; Owner: ucon
--

ALTER TABLE ONLY public.inventory_movements
    ADD CONSTRAINT inventory_movements_entered_by_fkey FOREIGN KEY (entered_by) REFERENCES public.users(id);


--
-- Name: inventory_movements inventory_movements_item_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: ucon
--

ALTER TABLE ONLY public.inventory_movements
    ADD CONSTRAINT inventory_movements_item_id_fkey FOREIGN KEY (item_id) REFERENCES public.inventory_items(id);


--
-- Name: inventory_movements inventory_movements_reference_document_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: ucon
--

ALTER TABLE ONLY public.inventory_movements
    ADD CONSTRAINT inventory_movements_reference_document_id_fkey FOREIGN KEY (reference_document_id) REFERENCES public.documents(id);


--
-- Name: invoice_items invoice_items_invoice_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: ucon
--

ALTER TABLE ONLY public.invoice_items
    ADD CONSTRAINT invoice_items_invoice_id_fkey FOREIGN KEY (invoice_id) REFERENCES public.invoices(id) ON DELETE CASCADE;


--
-- Name: invoice_items invoice_items_process_stage_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: ucon
--

ALTER TABLE ONLY public.invoice_items
    ADD CONSTRAINT invoice_items_process_stage_id_fkey FOREIGN KEY (process_stage_id) REFERENCES public.process_stages(id);


--
-- Name: invoices invoices_document_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: ucon
--

ALTER TABLE ONLY public.invoices
    ADD CONSTRAINT invoices_document_id_fkey FOREIGN KEY (document_id) REFERENCES public.documents(id);


--
-- Name: invoices invoices_purchase_order_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: ucon
--

ALTER TABLE ONLY public.invoices
    ADD CONSTRAINT invoices_purchase_order_id_fkey FOREIGN KEY (purchase_order_id) REFERENCES public.purchase_orders(id);


--
-- Name: invoices invoices_vendor_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: ucon
--

ALTER TABLE ONLY public.invoices
    ADD CONSTRAINT invoices_vendor_id_fkey FOREIGN KEY (vendor_id) REFERENCES public.vendors(id);


--
-- Name: machine_breakdowns machine_breakdowns_created_by_fkey; Type: FK CONSTRAINT; Schema: public; Owner: ucon
--

ALTER TABLE ONLY public.machine_breakdowns
    ADD CONSTRAINT machine_breakdowns_created_by_fkey FOREIGN KEY (created_by) REFERENCES public.users(id);


--
-- Name: machine_breakdowns machine_breakdowns_machine_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: ucon
--

ALTER TABLE ONLY public.machine_breakdowns
    ADD CONSTRAINT machine_breakdowns_machine_id_fkey FOREIGN KEY (machine_id) REFERENCES public.machines(id);


--
-- Name: machine_utilization machine_utilization_entered_by_fkey; Type: FK CONSTRAINT; Schema: public; Owner: ucon
--

ALTER TABLE ONLY public.machine_utilization
    ADD CONSTRAINT machine_utilization_entered_by_fkey FOREIGN KEY (entered_by) REFERENCES public.users(id);


--
-- Name: machine_utilization machine_utilization_machine_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: ucon
--

ALTER TABLE ONLY public.machine_utilization
    ADD CONSTRAINT machine_utilization_machine_id_fkey FOREIGN KEY (machine_id) REFERENCES public.machines(id);


--
-- Name: machines machines_vendor_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: ucon
--

ALTER TABLE ONLY public.machines
    ADD CONSTRAINT machines_vendor_id_fkey FOREIGN KEY (vendor_id) REFERENCES public.vendors(id);


--
-- Name: maintenance_records maintenance_records_created_by_fkey; Type: FK CONSTRAINT; Schema: public; Owner: ucon
--

ALTER TABLE ONLY public.maintenance_records
    ADD CONSTRAINT maintenance_records_created_by_fkey FOREIGN KEY (created_by) REFERENCES public.users(id);


--
-- Name: maintenance_records maintenance_records_document_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: ucon
--

ALTER TABLE ONLY public.maintenance_records
    ADD CONSTRAINT maintenance_records_document_id_fkey FOREIGN KEY (document_id) REFERENCES public.documents(id);


--
-- Name: maintenance_records maintenance_records_machine_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: ucon
--

ALTER TABLE ONLY public.maintenance_records
    ADD CONSTRAINT maintenance_records_machine_id_fkey FOREIGN KEY (machine_id) REFERENCES public.machines(id);


--
-- Name: maintenance_records maintenance_records_vendor_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: ucon
--

ALTER TABLE ONLY public.maintenance_records
    ADD CONSTRAINT maintenance_records_vendor_id_fkey FOREIGN KEY (vendor_id) REFERENCES public.vendors(id);


--
-- Name: monthly_expenses monthly_expenses_document_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: ucon
--

ALTER TABLE ONLY public.monthly_expenses
    ADD CONSTRAINT monthly_expenses_document_id_fkey FOREIGN KEY (document_id) REFERENCES public.documents(id);


--
-- Name: monthly_expenses monthly_expenses_entered_by_fkey; Type: FK CONSTRAINT; Schema: public; Owner: ucon
--

ALTER TABLE ONLY public.monthly_expenses
    ADD CONSTRAINT monthly_expenses_entered_by_fkey FOREIGN KEY (entered_by) REFERENCES public.users(id);


--
-- Name: monthly_expenses monthly_expenses_process_stage_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: ucon
--

ALTER TABLE ONLY public.monthly_expenses
    ADD CONSTRAINT monthly_expenses_process_stage_id_fkey FOREIGN KEY (process_stage_id) REFERENCES public.process_stages(id);


--
-- Name: monthly_expenses monthly_expenses_vendor_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: ucon
--

ALTER TABLE ONLY public.monthly_expenses
    ADD CONSTRAINT monthly_expenses_vendor_id_fkey FOREIGN KEY (vendor_id) REFERENCES public.vendors(id);


--
-- Name: password_reset_tokens password_reset_tokens_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: ucon
--

ALTER TABLE ONLY public.password_reset_tokens
    ADD CONSTRAINT password_reset_tokens_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id) ON DELETE CASCADE;


--
-- Name: production_batches production_batches_created_by_fkey; Type: FK CONSTRAINT; Schema: public; Owner: ucon
--

ALTER TABLE ONLY public.production_batches
    ADD CONSTRAINT production_batches_created_by_fkey FOREIGN KEY (created_by) REFERENCES public.users(id);


--
-- Name: production_plans production_plans_created_by_fkey; Type: FK CONSTRAINT; Schema: public; Owner: ucon
--

ALTER TABLE ONLY public.production_plans
    ADD CONSTRAINT production_plans_created_by_fkey FOREIGN KEY (created_by) REFERENCES public.users(id);


--
-- Name: production_rejections production_rejections_production_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: ucon
--

ALTER TABLE ONLY public.production_rejections
    ADD CONSTRAINT production_rejections_production_id_fkey FOREIGN KEY (production_id) REFERENCES public.daily_production(id);


--
-- Name: purchase_order_items purchase_order_items_material_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: ucon
--

ALTER TABLE ONLY public.purchase_order_items
    ADD CONSTRAINT purchase_order_items_material_id_fkey FOREIGN KEY (material_id) REFERENCES public.materials(id);


--
-- Name: purchase_order_items purchase_order_items_purchase_order_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: ucon
--

ALTER TABLE ONLY public.purchase_order_items
    ADD CONSTRAINT purchase_order_items_purchase_order_id_fkey FOREIGN KEY (purchase_order_id) REFERENCES public.purchase_orders(id) ON DELETE CASCADE;


--
-- Name: purchase_orders purchase_orders_created_by_fkey; Type: FK CONSTRAINT; Schema: public; Owner: ucon
--

ALTER TABLE ONLY public.purchase_orders
    ADD CONSTRAINT purchase_orders_created_by_fkey FOREIGN KEY (created_by) REFERENCES public.users(id);


--
-- Name: purchase_orders purchase_orders_document_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: ucon
--

ALTER TABLE ONLY public.purchase_orders
    ADD CONSTRAINT purchase_orders_document_id_fkey FOREIGN KEY (document_id) REFERENCES public.documents(id);


--
-- Name: purchase_orders purchase_orders_vendor_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: ucon
--

ALTER TABLE ONLY public.purchase_orders
    ADD CONSTRAINT purchase_orders_vendor_id_fkey FOREIGN KEY (vendor_id) REFERENCES public.vendors(id);


--
-- Name: tool_life_events tool_life_events_created_by_fkey; Type: FK CONSTRAINT; Schema: public; Owner: ucon
--

ALTER TABLE ONLY public.tool_life_events
    ADD CONSTRAINT tool_life_events_created_by_fkey FOREIGN KEY (created_by) REFERENCES public.users(id);


--
-- Name: tool_life_events tool_life_events_machine_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: ucon
--

ALTER TABLE ONLY public.tool_life_events
    ADD CONSTRAINT tool_life_events_machine_id_fkey FOREIGN KEY (machine_id) REFERENCES public.machines(id);


--
-- Name: tool_life_events tool_life_events_tool_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: ucon
--

ALTER TABLE ONLY public.tool_life_events
    ADD CONSTRAINT tool_life_events_tool_id_fkey FOREIGN KEY (tool_id) REFERENCES public.tools(id);


--
-- Name: tool_transactions tool_transactions_batch_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: ucon
--

ALTER TABLE ONLY public.tool_transactions
    ADD CONSTRAINT tool_transactions_batch_id_fkey FOREIGN KEY (batch_id) REFERENCES public.production_batches(id);


--
-- Name: tool_transactions tool_transactions_entered_by_fkey; Type: FK CONSTRAINT; Schema: public; Owner: ucon
--

ALTER TABLE ONLY public.tool_transactions
    ADD CONSTRAINT tool_transactions_entered_by_fkey FOREIGN KEY (entered_by) REFERENCES public.users(id);


--
-- Name: tool_transactions tool_transactions_machine_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: ucon
--

ALTER TABLE ONLY public.tool_transactions
    ADD CONSTRAINT tool_transactions_machine_id_fkey FOREIGN KEY (machine_id) REFERENCES public.machines(id);


--
-- Name: tool_transactions tool_transactions_tool_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: ucon
--

ALTER TABLE ONLY public.tool_transactions
    ADD CONSTRAINT tool_transactions_tool_id_fkey FOREIGN KEY (tool_id) REFERENCES public.tools(id);


--
-- Name: tools tools_process_stage_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: ucon
--

ALTER TABLE ONLY public.tools
    ADD CONSTRAINT tools_process_stage_id_fkey FOREIGN KEY (process_stage_id) REFERENCES public.process_stages(id);


--
-- Name: users users_reviewed_by_fkey; Type: FK CONSTRAINT; Schema: public; Owner: ucon
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_reviewed_by_fkey FOREIGN KEY (reviewed_by) REFERENCES public.users(id);


--
-- Name: vendor_aliases vendor_aliases_vendor_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: ucon
--

ALTER TABLE ONLY public.vendor_aliases
    ADD CONSTRAINT vendor_aliases_vendor_id_fkey FOREIGN KEY (vendor_id) REFERENCES public.vendors(id);


--
-- Name: vendor_rates vendor_rates_created_by_fkey; Type: FK CONSTRAINT; Schema: public; Owner: ucon
--

ALTER TABLE ONLY public.vendor_rates
    ADD CONSTRAINT vendor_rates_created_by_fkey FOREIGN KEY (created_by) REFERENCES public.users(id);


--
-- Name: vendor_rates vendor_rates_process_stage_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: ucon
--

ALTER TABLE ONLY public.vendor_rates
    ADD CONSTRAINT vendor_rates_process_stage_id_fkey FOREIGN KEY (process_stage_id) REFERENCES public.process_stages(id);


--
-- Name: vendor_rates vendor_rates_vendor_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: ucon
--

ALTER TABLE ONLY public.vendor_rates
    ADD CONSTRAINT vendor_rates_vendor_id_fkey FOREIGN KEY (vendor_id) REFERENCES public.vendors(id);


--
-- PostgreSQL database dump complete
--

\unrestrict cfnATAFnDlCD2XKWeA6OkgcvtXbijbXSqZmb93n6hIQodHFSAqgQmE0mvFoSAf8

